<template>
  <div class="wrapper-header">
    <header id="header">
      <div class="header-top">
        <!-- <div class="social">
          <a href="#"><img src="/images/ic_share_twitter.svg" alt="twitter" width="26" height="21" /></a>
          <a href="#"><img src="/images/ic_share_facebook.svg" alt="facebook" width="11" height="22" /></a>
          <a href="#"><img src="/images/ic_share_pinterest.svg" alt="pinterest" width="22" height="22" /></a>
          <a href="#"><img src="/images/ic_share_instagram.svg" alt="instagram" width="22" height="22" /></a>
        </div> -->
        <div class="logo">
          <a href="/">
            <img src="/images/Demarrez-votre-entreprise.png" alt="Demarrez votre entreprise" class="logo-img">
          </a>
        </div>
        <div class="form">
          <form @submit.prevent="onSearch">
            <input class="input-search" name="search" type="text" placeholder=" Rechercher..." :value="keyword">
          </form>
        </div>
      </div>

      <div class="header-bottom">
        <div class="main_menu" id="main_menu">
          <ul class="menu" id="menu">
            <li v-for="(category, key) in categories">
              <nuxt-link :to="`/?category=${category.id}`">{{ category.name }}</nuxt-link>
            </li>
          </ul>
        </div>
      </div>
    </header>
  </div>
</template>
<script>
export default {
  components: {},
  data() {
    return {
      keyword: "",
      categories: [
        {
          id: 9,
          name: 'Conseils Entrepreneurs'
        },
        {
          id: 10,
          name: 'Démarches Administratives'
        },
        {
          id: 6,
          name: 'Emploi'
        },
        {
          id: 4,
          name: 'Fiscalité'
        },
        {
          id: 5,
          name: 'Formation'
        }
      ],
    };
  },
  created() {
    this.keyword = this.$route.query.search;
  },
  methods: {
    onSearch(e) {
      e.preventDefault();
      this.$router.push(`/search=${this.keyword}`);
    },
  },
};
</script>
