<template>
  <div id="header" class="wrapper-header">
    <amp-script
      layout="container"
      :src="`${URL}/js/menu.js`"
      sandbox="allow-forms allow-scripts allow-same-origin"
      class="sample"
    >
      <div class="container-fluid container-max">
        <div class="header" :class="isOpen ? 'open' : ''">
          <div class="header-left">
            <div class="box-logo">
              <div class="logo">
                <nuxt-link to="/">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="266.176"
                    height="50.279"
                    viewBox="0 0 266.176 50.279"
                  >
                    <g transform="translate(-461.301 93.667)">
                      <g transform="translate(510.422 -69.992)">
                        <path
                          d="M492.143-53v-25.43h2.739v23.082h7.161V-53Z"
                          transform="translate(-492.143 79.02)"
                          fill="#364697"
                        />
                        <path
                          d="M512.848-53H501.306v-25.43h11.149v2.348h-8.411v9h6.847v2.348h-6.847v9.389h8.8Z"
                          transform="translate(-486.712 79.02)"
                          fill="#364697"
                        />
                        <path
                          d="M524.97-57.675q0,5.478-6.613,5.477t-6.611-5.477V-61h2.739v3.482a2.648,2.648,0,0,0,.978,2.192,4.563,4.563,0,0,0,2.894.782,4.566,4.566,0,0,0,2.9-.782,2.587,2.587,0,0,0,.978-2.133,6.421,6.421,0,0,0-.293-2.152,4.907,4.907,0,0,0-1.193-1.7l-6.885-6.729A7.112,7.112,0,0,1,512.2-70.41a8.107,8.107,0,0,1-.449-2.915,5.108,5.108,0,0,1,1.625-4.05,7.26,7.26,0,0,1,4.909-1.427q6.3,0,6.3,5.477V-70H521.84v-3.482a2.726,2.726,0,0,0-.919-2.191,4.179,4.179,0,0,0-2.759-.782,4.17,4.17,0,0,0-2.758.782,2.676,2.676,0,0,0-.919,2.152,6.674,6.674,0,0,0,.274,2.152,4.256,4.256,0,0,0,1.212,1.644l7,6.729a7.714,7.714,0,0,1,1.566,2.407A8.438,8.438,0,0,1,524.97-57.675Z"
                          transform="translate(-480.525 78.802)"
                          fill="#364697"
                        />
                        <path
                          d="M532.859-53H530.12v-25.43h10.758v2.348h-8.019v9h6.455v2.348h-6.455Z"
                          transform="translate(-469.635 79.02)"
                          fill="#364697"
                        />
                        <path
                          d="M543.053-53h-2.739v-25.43h5.909a6.647,6.647,0,0,1,4.635,1.448,5.178,5.178,0,0,1,1.585,4.029v5.477q0,3.992-3.443,5.087L553.812-53H550.8l-4.576-9h-3.169ZM549.7-67.48v-5.477a2.967,2.967,0,0,0-.9-2.308,3.693,3.693,0,0,0-2.58-.822h-3.169v11.738h3.169Q549.7-64.348,549.7-67.48Z"
                          transform="translate(-463.594 79.02)"
                          fill="#364697"
                        />
                        <path
                          d="M563.77-53H552.228v-25.43h11.15v2.348h-8.412v9h6.847v2.348h-6.847v9.389h8.8Z"
                          transform="translate(-456.533 79.02)"
                          fill="#364697"
                        />
                        <path
                          d="M565.9-53h-2.739v-25.43H565.9l8.489,19.563V-78.434h2.739V-53h-2.739L565.9-72.565Z"
                          transform="translate(-450.055 79.02)"
                          fill="#364697"
                        />
                        <path
                          d="M586.647-57.675v-2.152h2.738v2.152a5.137,5.137,0,0,1-1.6,4.049,7.049,7.049,0,0,1-4.813,1.429,7.2,7.2,0,0,1-4.851-1.429,5.073,5.073,0,0,1-1.644-4.049V-73.325a5.139,5.139,0,0,1,1.605-4.05A7.05,7.05,0,0,1,582.89-78.8a7.209,7.209,0,0,1,4.851,1.427,5.078,5.078,0,0,1,1.644,4.05v3.716h-2.738v-3.716q0-3.13-3.717-3.13t-3.717,3.13v15.649q0,3.13,3.717,3.13T586.647-57.675Z"
                          transform="translate(-442.164 78.802)"
                          fill="#364697"
                        />
                        <path
                          d="M591.617-53h-2.739v-25.43h2.739v11.346h7.707V-78.434h2.739V-53h-2.739V-64.74h-7.707Z"
                          transform="translate(-434.812 79.02)"
                          fill="#364697"
                        />
                        <path
                          d="M607.984-55.352V-53h-6.651v-2.348h1.956V-76.086h-1.956v-2.348h6.651v2.348h-1.956v20.735Z"
                          transform="translate(-427.43 79.02)"
                          fill="#364697"
                        />
                        <path
                          d="M621.226-53H609.684v-25.43h11.15v2.348h-8.411v9h6.847v2.348h-6.847v9.389h8.8Z"
                          transform="translate(-422.481 79.02)"
                          fill="#364697"
                        />
                        <path
                          d="M633.347-57.675q0,5.478-6.611,5.477t-6.611-5.477V-61h2.738v3.482a2.648,2.648,0,0,0,.978,2.192,4.568,4.568,0,0,0,2.9.782,4.566,4.566,0,0,0,2.9-.782,2.588,2.588,0,0,0,.978-2.133,6.421,6.421,0,0,0-.293-2.152,4.915,4.915,0,0,0-1.194-1.7l-6.885-6.729a7.107,7.107,0,0,1-1.663-2.367,8.076,8.076,0,0,1-.449-2.915,5.107,5.107,0,0,1,1.623-4.05,7.267,7.267,0,0,1,4.91-1.427q6.3,0,6.3,5.477V-70h-2.739v-3.482a2.721,2.721,0,0,0-.919-2.191,4.173,4.173,0,0,0-2.758-.782,4.176,4.176,0,0,0-2.759.782,2.68,2.68,0,0,0-.919,2.152,6.722,6.722,0,0,0,.274,2.152,4.262,4.262,0,0,0,1.214,1.644l7,6.729a7.679,7.679,0,0,1,1.564,2.407A8.4,8.4,0,0,1,633.347-57.675Z"
                          transform="translate(-416.293 78.802)"
                          fill="#364697"
                        />
                      </g>
                      <g transform="translate(461.301 -93.667)">
                        <path
                          d="M467.28-55.384c.24-.258.422-.457.608-.65a1.924,1.924,0,0,1,.209-.154c.325.3.655.588.965.892.885.868,1.761,1.746,2.647,2.615q1.952,1.916,3.91,3.827,1.512,1.476,3.031,2.951c.112.107.226.21.373.347.159-.154.309-.28.438-.424q3.058-3.4,6.111-6.8c1.68-1.86,3.386-3.695,5.052-5.566a16.419,16.419,0,0,0,2.886-4.617,17.445,17.445,0,0,0,1.132-4.241c.045-.306.054-.616.08-.916-.327-.132-10.242-.178-10.911-.051a11.231,11.231,0,0,1-7.094,9.046,10.841,10.841,0,0,1-8.016.11,11.18,11.18,0,0,1-7.4-10.478h21.182c.021-.229.051-.406.051-.583,0-2.623-.01-5.246.008-7.868a9.538,9.538,0,0,1,1.016-4.243,10.775,10.775,0,0,1,1.5-2.227,3.041,3.041,0,0,0,.207-.271.967.967,0,0,0,.054-.183c-.175-.016-.335-.045-.494-.045-1.723,0-3.448-.013-5.171,0a6.332,6.332,0,0,1-3.04-.742,4.3,4.3,0,0,1-2.38-2.969,3.972,3.972,0,0,1,1.468-4.2,3.954,3.954,0,0,1,4.163-.468,4.584,4.584,0,0,1,1.542,1.056c.5.51,1.007,1.01,1.511,1.511.1.1.2.191.349.326.113-.205.212-.371.3-.545a2.969,2.969,0,0,1,2.032-1.69,2.825,2.825,0,0,1,2.68.613c1.064.989,2.083,2.026,3.12,3.044.295.29.57.6.879.874a1.546,1.546,0,0,1,.489.964c.113.645.253,1.285.385,1.926.021.1.061.19.112.344l3.63,1.038-1.05,1.22c.244.282.468.553.7.814.78.87,1.58,1.722,2.344,2.6a2.722,2.722,0,0,1,.489,3.029,2.793,2.793,0,0,1-2.655,1.754c-.436.018-.874,0-1.3,0-.068.965-.323,1.3-1.086,1.41-.922-4.4-1.777-8.822-2.7-13.267-.29.027-.529.03-.76.073a8.338,8.338,0,0,0-6.321,4.839,8.089,8.089,0,0,0-.755,3.482q0,3.87,0,7.74c0,.18.019.362.032.62,1.363.008,2.7,0,4.028,0q2.031,0,4.061,0h4.085c0,.436.025.83,0,1.218a18.712,18.712,0,0,1-.729,4.157,16.565,16.565,0,0,1-3.556,6.41q-1.935,2.109-3.873,4.216-2.473,2.69-4.944,5.378-1.792,1.952-3.577,3.907c-.105.115-.194.245-.334.422ZM482.45-68.14c-.37-.137-19.437-.131-19.77.006A10.007,10.007,0,0,0,473-59.6,10,10,0,0,0,482.45-68.14Zm8.537-19.384a1.575,1.575,0,0,0-.131-.2c-1.094-1.1-2.172-2.217-3.294-3.289a1.771,1.771,0,0,0-2.709.363,2,2,0,0,0-.218,1.558l-1.207.647c-.131-.123-.234-.217-.334-.315-.866-.865-1.742-1.722-2.6-2.6a3.134,3.134,0,0,0-2.569-1.013,2.465,2.465,0,0,0-2.117,1.3,3.076,3.076,0,0,0,1.271,4.251,6.014,6.014,0,0,0,2.921.691c2.279.025,4.557.013,6.836,0a1.3,1.3,0,0,0,.608-.15,10.8,10.8,0,0,1,3.079-1.118C490.664-87.424,490.8-87.47,490.987-87.524Zm4.095,11.835c.7,0,1.314.046,1.918-.013a1.473,1.473,0,0,0,1.274-1.062,1.51,1.51,0,0,0-.3-1.559c-.438-.5-.887-1-1.335-1.5q-1.273-1.407-2.551-2.813c-.116-.127-.247-.24-.371-.36l-.1.062Z"
                          transform="translate(-461.301 93.667)"
                          fill="#364697"
                        />
                        <path
                          d="M478.545-86.649a.91.91,0,0,1,.873-.919.918.918,0,0,1,.917.878.929.929,0,0,1-.9.946A.914.914,0,0,1,478.545-86.649Z"
                          transform="translate(-451.081 97.282)"
                          fill="#364697"
                        />
                        <path
                          d="M483.173-80.949l-.972-4.784.081-.043c.146.148.3.291.438.446q1.187,1.309,2.37,2.623a1.069,1.069,0,0,1,.183,1.194.932.932,0,0,1-.964.565C483.945-80.957,483.579-80.949,483.173-80.949Z"
                          transform="translate(-448.914 98.344)"
                          fill="#364697"
                        />
                      </g>
                    </g>
                  </svg>
                </nuxt-link>
              </div>
            </div>
          </div>
          <div class="header-right">
            <ul class="navigation">
              <li>
                <a href="/#section-price">TarifS</a>
              </li>
              <li>
                <a href="/#section-app">Logiciel comptable</a>
              </li>
              <li>
                <a href="/#section-who">Qui sommes nous</a>
              </li>
              <li>
                <a href="/#section-customer">Il nous ont fait confiance</a>
              </li>
              <li>
                <a href="/#section-faq">FAQ</a>
              </li>
              <li>
                <button class="btn btn-outline-primary"><a href="/login">SE CONNECTER</a></button>
              </li>
            </ul>
          </div>
          <span
            v-if="!showPhoneNumber"
            class="call-me"
            @click="showPhoneNumber = true"
          ></span>
          <span
            v-if="showPhoneNumber"
            class="show-phone"
            @click="call(phoneNumber)"
            >{{ commonServices.getPhoneNumerText(phoneNumber) }}</span
          >
          <div class="box-collapse-menu">
            <button id="btn-collapse-menu" class="navigation-mb menu"></button>
          </div>
        </div>
      </div>
    </amp-script>
  </div>
</template>
<script>
import { URL } from "../../services/constant";
import commonServices from "@/services/commonServices";
export default {
  components: {},
  data: function () {
    return {
      URL,
      commonServices: commonServices,
      isOpen: false,
      showPhoneNumber: false,
      header: {},
      phoneNumber: "",
    };
  },
  async mounted() {
    
  },
  methods: {
    onOpen() {
      this.isOpen = !this.isOpen;
    },
    call(phoneNumber) {
      window.location = `tel:${phoneNumber}`;
    },
    
  },
};
</script>
