<template>
  <div>
    <div class="article-content-wrapper" v-if="page">
      <div class="breadcrum">
        <nuxt-link to="/">Accueil</nuxt-link>
        <span> > </span>
        <span v-html="page.title.rendered"></span>
      </div>
      <div class="header-box">
        <h1 class="title" v-html="page.title.rendered"></h1>
        <!-- <p class="description" v-html="page.yoast_head_json.og_description"></p> -->
        <div class="feature-img">
          <img :src="commonServices.getAvatar(page, 768, 400)" :alt="page.title.rendered" width="768" height="400" />
        </div>
        <p class="info">
          <span class="categorie">Entreprise</span> 
          <span class="categorie">île de France</span>
          <span class="motified">Publié le {{ commonServices.getDateFormat(page.date) }}, NATHAN ROTHMAN</span></p>
      </div>
      <article class="article-content" v-html="$md.render(page.content.rendered)"></article>
    </div>
    <div class="related-articles" v-if="related && related.length > 0">
      <h3>Articles similaires</h3>
      <div class="row">
        <div class="col-12 col-md-4" v-for="(data, key) in related">
          <RelatedArticleCard :data="data" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import RelatedArticleCard from "~/components/pages/article/RelatedArticleCard.vue";
import { getMetaTags } from "../../utils/seo";
import { URL, BACKOFFICE_URL } from "../../services/constant";
import commonServices from "@/services/commonServices";
import { getLastModifiedHours } from "../../utils/common";
import navService from "@/services/navService";
import wordpressService from "@/services/wordpressService";

export default {
  components: {
    RelatedArticleCard
  },
  async asyncData({ params }) {
    const post = await wordpressService.getPostBySlug(params.slug);
    if (!post) {
      return;
    }
    const jetpackRelatedPosts = post["jetpack-related-posts"];
    let relates = [];
    if (jetpackRelatedPosts) {
      relates = jetpackRelatedPosts.map((item) => {
        const arrSplit = item.url.split("/");
        return {
          id: item.id,
          image: item.img ? item.img.src : "",
          altImage: item.img ? item.img.alt_text : "",
          title: item.title,
          description: item.excerpt,
          slug: arrSplit[arrSplit.length - 1]
            ? arrSplit[arrSplit.length - 1]
            : arrSplit[arrSplit.length - 2],
        };
      });
    }
    return {
      page: post,
      related: relates.slice(0, 3),
    };
  },
  data() {
    return {
      URL,
      BACKOFFICE_URL,
      hasShare: false,
      commonServices,
    };
  },
  computed: {
    createdHour() {
      return getLastModifiedHours(this.page.modified);
    },
  },
  created() { },
  beforeMount() { },
  beforeDestroy() { },
  methods: {},
  head() {
    if (!this.page) {
      navService.goToNotfound();
      return {};
    }
    let schema = this.page.yoast_head_json.schema;
    for (let i = 0; i < schema["@graph"].length; i++) {
      for (var propName in schema["@graph"][i]) {
        if (
          (propName == "contentUrl" || propName == "url") &&
          schema["@graph"][i][propName] &&
          schema["@graph"][i][propName].indexOf("wp-content") != -1
        ) {
          const splitArr = schema["@graph"][i][propName].split("wp-content");
          if (splitArr.length > 0) {
            const newUrl = `${BACKOFFICE_URL}/wp-content${splitArr[1]}`;
            schema["@graph"][i][propName] = newUrl;
          }
        }
      }
    }
    return {
      titleTemplate: `%s`,
      title: this.page.yoast_head_json.title,
      meta: getMetaTags(this.page.yoast_head_json),
      link: [
        {
          rel: "canonical",
          href: `${URL}/${this.page ? this.page.slug : "#"}`,
        },
      ],
      bodyAttrs: {
        class: "article-page",
      },
      __dangerouslyDisableSanitizers: ["script"],
      script: [
        { innerHTML: JSON.stringify(schema), type: "application/ld+json" },
      ],
    };
  },
};
</script>

