<template> 
    <div class="wrapper-notfound-details">
        <div class="container">
      <div class="box-page-details">
          <h1 class="title">This page could not be found!</h1>
          <p>
            We are sorry. But the page you are looking for is not available.
            Perhaps you can try a new search.
          </p>
          <nuxt-link to="/">Back to home</nuxt-link>
        </div>
      </div>
    </div> 
</template>
 
