html{
  scroll-behavior: smooth;
}
body {
  font-size: $font-primary;
  scroll-behavior: smooth;
}
 .hide-desktop{
  display: none;
   @include media-breakpoint-down(md) {
    display: block;
  }
 }
 .hide-mobile{
  display: block;
  @include media-breakpoint-down(md) {
   display: none;
 }
 }
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  @include media-breakpoint-down(lg) {
    max-width: 100%;
  }
}

.container-max-swiper {
  max-width: rem(1640);
  width: 100%;
  margin: 0 auto;
  padding: 0 0;
  @include media-breakpoint-down(lg) {
    max-width: rem(600);
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
} 
 
.pd-0{
  padding: 0;
}

.--is-loading{
  pointer-events: none;
  min-width: 120px;
  padding: 0px;
  img{
    width: 35px;
    height: 35px;
  }
}

.fade-enter-active, .fade-leave-active {
  opacity: 1;
  //animation: fadein 0.5s ease-in-out 0s 0.1;  
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

div.toasted{
  &.--toast-cus{
    min-width: 400px;
    font-family: $font-primary;
    font-size: rem(16);
    display: flex;
    justify-content: center;
    align-items: center;
    @include media-breakpoint-down(md) {
      min-width: 300px;
      font-size: rem(14);
    }
  }
}
   
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/*position*/
/*class is: m-l-5 || p-r-10*/
$type: (m, p);
$position: (l, r, t, b);
$value:(0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,28,29,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100);
@each $item in $type {
  .#{$item} {
    @each $p in $position {
      &-#{$p}{
        @each $v in $value{
          &-#{$v}{
            $expand1: '';
            $expand2: '';
            @if ($item == m){
              $expand1: 'argin';
            }
            @else{
              $expand1: 'adding';
            }
            @if ($p == l){
              $expand2: 'eft';
            }
            @if ($p == r){
              $expand2: 'ight';
            }
            @if ($p == t){
              $expand2: 'op';
            }
            @if ($p == b){
              $expand2: 'ottom';
            }
            #{$item}#{$expand1}-#{$p}#{$expand2}: #{$v}px;
          }
        }
      }
    }
  }
}
/*end of position*/
/*style*/
$type: (h, w);
$position: (l, r, t, b);
$value:(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,28,29,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100);
@each $item in $type {
  .#{$item} {
      @each $v in $value{
        &-#{$v}{
          $expand1: '';
          @if ($item == h){
            $expand1: 'eight';
          }
          @else{
            $expand1: 'idth';
          }
          #{$item}#{$expand1}: #{$v}px;
        }
      }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.display-mobile{
  @include media-breakpoint-up(md) {
    display: none;
  }
  @include media-breakpoint-down(md) {
    display: block;
  }
}
.display-desktop{
  @include media-breakpoint-up(md) {
    display: inline-block;
  }
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.aligncenter{
  text-align: center;
}