$primary:  #4A7DFF; 
$secondary: #383838;
$tertiary: #5F5F5F;

$line-primary: #DEDEDE;
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Poppins', sans-serif; 

$medium: 500; 
$bold: 700; 

$color-white: #FFFFFF;
$color-gray-1: #E8E8E8;
$blue-gray-1: #2a2e51;
$blue-gray-2: #656568;

$light-pink-2: #CB2A55;
$light-gray-1: #383838;
$light-gray-2: #5F5F5F;