.button{
    border-radius: rem(10);
    &-primary{
         padding: rem(10),
    }
}
.radius-10{
    border-radius: rem(10);
   }

@mixin confirm-btn {
    min-height: 48px;
    min-width: 182px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    @include media-breakpoint-down(lg) {
        padding-left: 35px;
        padding-right: 35px;
        border-radius: 10px;
        img {
          transform: scale(0.8);
        }
    }
}