#footer {
  font-family: $font-primary;
  background: #1f1f1f;
  padding: rem(20);
  .box-footer {
    position: relative;
    color: $color-white;
    .box-logo-footer {
      @include media-breakpoint-down(md) {
        display: none;
      }
      position: absolute;
      top: 50%;
      left: rem(-100);
      transform: translateY(-50%);
      img {
        width: rem(110);
        height: rem(107);
      }
    }
    .socials {
      text-align: center;
      @include media-breakpoint-down(md) {
        text-align: center;
      }

      p {
        font-weight: bold;
        font-size: rem(16);
        color: $color-white;
        text-transform: uppercase;
      }

      .links {
        a {
          display: inline-block;
          padding: rem(0) rem(10);

          img {
            color: $color-white;
          }
        }
      }
    }

    .copyright {
      text-align: center;
      color: $color-white;
      font-size: rem(16);
      margin-top: rem(20);
    }
    .retro {
      padding: 40px 0 15px 0;
      .introduction {
        span {
          font-size: .94rem;
        }
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
      .categories, .legal {
        h5 {
          font-size: 1.1rem;
          margin-bottom: 13px;
        }
        p {
          margin-bottom: .5rem;
          a {
            color: $color-white;
            font-size: .94rem;
            &:hover {
              color: #4A7DFF;
            }
          }
        }
      }
    }
    .socials-wrapper {
      margin-top: 40px;
    }
  }
}
