#header {
  font-family: $font-primary;
  width: 100%;
  background: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 97;
  display: block;

  .header-top {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1170px;
    height: 100%;
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-down(sm) {
      justify-content: center;
    }

    .form {
      position: absolute;
      right: 0;
      @include media-breakpoint-down(sm) {
        display: none;
      }
      .input-search {
        border-radius: 8px;
      }
    }

    // .social {
    //   display: flex;
    //   justify-content: flex-start;
    //   list-style: none;
    //   text-align: start;
    //   align-items: unset;
    //   @include media-breakpoint-down(sm) {
    //     display: none;
    //   }
    //   a {
    //     display: block;
    //     background-color: #8b8b8b;
    //     width: 36px;
    //     height: 36px;
    //     text-align: center;
    //     margin: 0 2px;
    //     border-radius: 10px;
    //     padding-top: 4px;

    //     &:hover {
    //       background-color: #4a7dff;
    //     }
    //   }
    // }

    .logo {
      justify-content: center;
      line-height: 0;
      text-align: center;
      z-index: 99;

      .logo-img {
        width: 300px;
        @include media-breakpoint-down(sm) {
          width: 200px;
        }
      }
    }
  }

  .header-bottom {
    background: #fff;
    -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 2px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 2px;
    font-size: 16px;
    overflow: hidden;
    padding: 0 4px;
    position: relative;
    width: 100%;
    margin: 0 auto;

    .main_menu {
      align-items: center;
      display: flex;
      flex-shrink: 100;
      gap: 20px;
      justify-content: center;
      margin-right: 40px;
      overflow: hidden;
      position: relative;
      @include media-breakpoint-down(sm) {
        margin-right: 0;
      }

      .menu {
        display: flex;
        flex-wrap: wrap;
        @include media-breakpoint-down(sm) {
          padding-left: 0;
        }

        li {
          display: inline-block;
          padding: 10px;
          @include media-breakpoint-down(sm) {
            padding: 4px;
          }

          a {
            color: #000;
            font-weight: 500;
            @include media-breakpoint-down(sm) {
              font-size: 9px;
            }
            &:hover {
              color: #4a7dff;
            }
          }
        }
      }
    }
  }
}
