<template>
  <div class="container">
    <div id="section-articles">
      <div class="row" v-if="data && data.length">
        <div class="col-12 col-lg-8">
          <div class="row">
            <div class="col-12">
              <ArticleCard class="first-article" :data="data[0]"/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-lg-6" v-for="(item, key) in data" v-if="key > 0">
              <ArticleCard :data="item"/>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="paging">
                <ul>
                  <li v-for="index in paging" :key="index">
                    <nuxt-link class="number" v-bind:class="[index == currentPage ? 'active' : '']"
                      :to="`/${queryString}&page=${index}`">
                      {{ index }}
                    </nuxt-link>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-4">
          <h3>Les plus lus</h3>
          <div class="row">
            <ArticleVerticalCard :data="data[0]"/>
          </div>
          <div class="row">
            <ArticleVerticalCard :data="data[1]"/>
          </div>
          <div class="row">
            <ArticleVerticalCard :data="data[2]"/>
          </div>
          <div class="row">
            <ArticleVerticalCard :data="data[3]"/>
          </div>
          <div class="row">
            <ArticleVerticalCard :data="data[4]"/>
          </div>
        </div>
      </div>
      <div class="row" v-else style="text-align: center;">
        <h3>Aucun article trouvé</h3>
      </div>
    </div>
  </div>
</template> 
<script>
import commonServices from "@/services/commonServices";
import ArticleCard from "./ArticleCard.vue";
import ArticleVerticalCard from "./ArticleVerticalCard.vue";
export default {
  props: ["data", "paging", "currentPage"],
  components: {
    ArticleCard,
    ArticleVerticalCard
  },
  created() {
    this.category = this.$route.query.category;
    this.search = this.$route.query.search;
    if (this.category) {
      this.queryString += `&category=${this.category}`
    }
    if (this.search) {
      this.queryString += `&search=${this.search}`
    }
  },
  data() {
    return {
      category: null,
      search: null,
      queryString: "?",
      commonServices,
    };
  },
};
</script>
