<template>
    <div class="article" v-if="data">
        <nuxt-link :to="`/${data.slug}`">
            <div class="box-image">
                <img :src="commonServices.getAvatar(data, 600, 200)" :alt="data.title.rendered" width="600" height="200" />
            </div>
            <div class="box-content">
                <p class="title" v-if="data.title" v-html="data.title.rendered"></p>
                <p class="description" v-html="commonServices.excerpt(data.yoast_head_json ? data.yoast_head_json.og_description :'', 0, 200) + '...'"></p>
            </div>
            <p class="motified">{{ commonServices.getDateFormat(data.date) }}</p>
        </nuxt-link>
        <span class="categorie">{{ commonServices.getCategories(data) }}</span>
        <span class="categorie">île de France & Grand Paris</span>
    </div>
</template>

<script>
import commonServices from "@/services/commonServices";
export default {
  props: ["data"],
  data() {
      return {
        commonServices
    };
  },
};
</script>