<template>
    <div class="vertical-article" v-if="data">
        <nuxt-link :to="`/${data.slug}`">
            <div class="box-content">
                <p class="title" v-if="data.title" v-html="data.title.rendered"></p>
            </div>
            <div class="box-image">
                <img :src="commonServices.getAvatar(data, 150, 100)" :alt="data.title.rendered" width="600" height="200" />
            </div>
        </nuxt-link>
    </div>
</template>

<script>
import commonServices from "@/services/commonServices";
export default {
  props: ["data"],
  data() {
      return {
        commonServices
    };
  },
};
</script>