<template>
  <div id="section-feature">
    <div class="container box-feature">
      <div class="row">
        <div class="col-md-4 box-feature-left">
          <div class="article" v-if="data[0]">
            <div class="box-image">
              <img
                :src="commonServices.getAvatar(data[0], 330, 420)"
                :alt="data[0].title.rendered"
                width="330"
                height="420"
              />
            </div>
            <div class="box-content">
                 <span class="categorie">CATÉGORIE</span>
              <p class="title">
                <nuxt-link
                  :to="{
                    name: 'article-details',
                    params: { slug: data[0].slug },
                  }"
                  >{{ data[0].title ? data[0].title.rendered : "" }}</nuxt-link
                >
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-8 box-feature-right">
          <div class="article box-feature-right-top" v-if="data[1]">
            <div class="box-image">
              <img
                :src="commonServices.getAvatar(data[1], 640, 210)"
                :alt="data[1].title.rendered"
                width="640"
                height="210"
              />
            </div>
            <div class="box-content">
                 <span class="categorie">CATÉGORIE</span>
              <p class="title">
                <nuxt-link
                  :to="{
                    name: 'article-details',
                    params: { slug: data[1].slug },
                  }"
                  >{{ data[1].title ? data[1].title.rendered : "" }}</nuxt-link
                >
              </p>
            </div>
          </div>
          <div class="article" v-if="data[2]">
            <div class="box-image">
              <img
                :src="commonServices.getAvatar(data[2], 640, 210)"
                :alt="data[2].title.rendered"
                width="640"
                height="210"
              />
            </div>
            <div class="box-content">
              <span class="categorie">CATÉGORIE</span>
              <p class="title">
                <nuxt-link
                  :to="{
                    name: 'article-details',
                    params: { slug: data[2].slug },
                  }"
                  >{{ data[2].title ? data[2].title.rendered : "" }}</nuxt-link
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template> 
   <script>
import commonServices from "@/services/commonServices";

export default {
  props: ["data"],
  data() {
    return {
      commonServices,
    };
  },
  mounted() {},
};
</script>