.related-articles {
  max-width: 1170px;
  margin: 1rem auto;
  @include media-breakpoint-down(sm) {
    padding: 0 0.5rem;
  }

  .article {
    position: relative;
    margin-bottom: rem(20);
    width: 100%;
    overflow: hidden;

    .box-image {
      width: 100%;
      overflow: hidden;
      border-radius: rem(5);

      img {
        width: 100%;
        height: auto;
      }
    }

    .box-content {
      width: 100%;
      height: 100%;

      .title {
        font-size: rem(20);
        margin: rem(15) 0;
        font-weight: bold;
        color: black;

        &:hover {
          color: $primary;
        }
      }

      .description {
        font-size: rem(14);
        color: black;
      }
    }

    .categorie {
      display: inline-block;
      padding: rem(5) rem(10);
      color: #979797;
      background: #f8f7f7;
      border-radius: 2px;
      font-size: rem(12);
      margin: rem(10) 0;
    }
  }
}

.article-content-wrapper {
  max-width: 768px;
  margin: 0 auto;
  margin-top: 180px;
  border-bottom: 1px solid #e9e5e6;
  @include media-breakpoint-down(sm) {
    padding: 0 0.5rem;
  }

  .breadcrum {
    margin-bottom: 2rem;
    a,
    span {
      color: #666666;
      font-weight: 400;
      font-size: 14px;
      text-transform: capitalize;
      &:hover {
        color: #4a7dff;
      }
    }
  }
  .header-box {
    text-align: center;
    margin-bottom: 2rem;

    .title {
      margin-bottom: 16px;
      margin-top: 0;
      font-size: 30px;
      font-weight: 600;
    }

    .description {
      color: #666666;
      font-weight: 400;
      font-size: 14px;
    }

    .feature-img {
      width: 768px;
      height: 400px;
      overflow: hidden;
      border-radius: rem(5);
      flex: none;
      margin-right: rem(15);
      @include media-breakpoint-down(sm) {
        width: 100%;
        height: unset;
      }
      img {
        width: 100%;
        height: auto;
      }
    }

    .info {
      text-align: left;
    }

    .motified {
      color: #979797;
      border-radius: 2px;
      font-size: rem(12);
    }

    .categorie {
      display: inline-block;
      padding: rem(5) rem(10);
      color: #979797;
      background: #f8f7f7;
      border-radius: 2px;
      font-size: rem(12);
      margin: rem(10) 0;
    }
  }

  .article-content {
    margin-bottom: 2rem;
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 32px;
    color: #1f1f1f;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    h1 {
      font-weight: 600;
    }
    h2 {
      font-weight: 600;
    }
    h3 {
      b {
        font-weight: 600;
        font-size: 1.4rem;
      }
    }
    p {
      span {
        font-size: .9rem;
      }
    }
    ul {
      li {
        font-size: .9rem;
      }
    }
    img {
      display: block;
      margin: 0 auto;
    }
  }
}
