#section-articles {
    font-family: $font-primary; 
    margin-top: 190px;
    min-height: 62vh;
    @include media-breakpoint-down(sm) {
        padding: 0 0.5rem;
    }
    h3 {
        font-weight: 600;
        margin-bottom: 2rem;
    }
    .title-category{
        position: relative;
        padding: rem(20) 0;
        margin: rem(20) 0;
        &::after{
            content: '';
            display: block;
            width: 100%;
            height: rem(1);
            background: $primary;
        }
        h4{
            font-size: rem(18);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: white;
            padding-right: rem(20);
        }
    }
    .article {
        position: relative;
        margin-bottom: rem(20);
        width: 100%; 
        overflow: hidden;

        .box-image { 
            width: 100%;
            overflow: hidden;
            border-radius: rem(5);
            img {
                width: 100%;
                height: auto;
            }
        }

        .box-content { 
            width: 100%;
            height: 100%; 
            .title {
                font-size: rem(20);
                margin: rem(15) 0;
                font-weight: bold; 
                color: black;
                &:hover {
                    color: $primary;
                }
            }
            .description {
                font-size: rem(14); 
                color: black;
            }        
        }
        .motified {
            color: #979797;
            border-radius: 2px;
            font-size: rem(12);
        }
        
        .categorie{
            display: inline-block;
            padding:rem(5) rem(10);
            color: #979797;
            background: #f8f7f7;
            border-radius: 2px;
            font-size: rem(12); 
            margin: rem(10) 0;
        }
    }
    .vertical-article{
        border-bottom: 1px solid #e9e5e6;
        margin-bottom: 1rem;
        padding-bottom: 0.5rem;
        a {
            display: flex;
            justify-content: space-between;
        }
        .box-image{
            width: rem(100);
            height: rem(70);
            overflow: hidden;
            border-radius: rem(5);
            flex: none;
            margin-right: rem(15);
            img {
                width: 100%;
                height: auto;
            }
        }
        .box-content{
            .title {
                font-size: rem(14);
                display: block;
                font-weight: 500; 
                color: black;
                &:hover {
                    color: $primary;
                }
            }
        }
    }
    .paging {
        margin: rem(20) 0;
        width: 100%;
        text-align: left;

        .number {
            display: inline-block;
            width: rem(30);
            height: rem(30);

            line-height: rem(30);
            text-align: center;
            border-radius: rem(3);

            &.active {
                border: rem(1) solid $primary;
                background: rgba($color: $primary, $alpha: 0.5);
            }
        }
    }
}

#section-feature {
    font-family: $font-primary;
    overflow: hidden; 
    margin-top: 10.5rem;
    .box-feature{
        .box-feature-left{
            @include media-breakpoint-down(md) {
               margin-bottom: rem(20);
                }
            .article{
                height: rem(420);
                overflow: hidden;
            }
        }
        .box-feature-right{
            .article{
                height: rem(200);
                overflow: hidden;
            }
        }
        .article{
            position: relative;
           border-radius: rem(5);

          .categorie{
              display: inline-block;
              padding:rem(5) rem(10);
              color: $color-white;
              background: $primary;
              border-radius: rem(20);
              font-size: rem(12);
              position: absolute;
              top: rem(-10);
          }
            .box-image{
                position: relative;
                &::after{
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: rgba($color: #000000, $alpha: 0.3);
                }
                img{
                    width: 100%;
                    
                }
            }.box-content{
                padding: rem(20);
                position: absolute;
                bottom: 0;
                width: 100%;
                p {
                    a{
                        color: $color-white;
                        font-size: rem(24);
                    }
                }
            }
        }
        .box-feature-right-top{
            margin-bottom: rem(20);
        }
    }

}