.wrapper-notfound-details{
  .box-page-details{ 
      padding: rem(200) 0;
  }
}
.paging{
  margin: rem(20) 0;
  width: 100%;
  text-align: right;
  ul{
    list-style: none;
    padding: 0;
    li{
      display: inline-block;
    }
  }
  .number{
      display: inline-block;
      width: rem(30);
      height: rem(30);
    
      line-height: rem(30);
      text-align: center;
      border-radius: rem(3);
      &.active{
          border: rem(1) solid $primary;
          background: rgba($color: $primary, $alpha: 0.5);
      }
  }
}

.box-no-result{
  padding: rem(40) 0;
  text-align: center;
}