<template>
  <div id="footer">
    <div class="container pd-0 mt-15 box-footer">
      <div class="row retro">
        <div class="col-4 introduction">
          <span>
            Découvrez comment progresser dans votre carrière, comment les entrepreneurs innovent, et obtenez des conseils sur le leadership de la part des personnes au sommet.
          </span>
        </div>
        <div class="col-6 col-md-4 categories">
          <h5>Catégories</h5>
          <p v-for="(category, key) in categories">
            <a :href="`/?category=${category.id}`">{{ category.name }}</a>
          </p>
        </div>
        <div class="col-6 col-md-4 legal">
          <h5>Liens utiles</h5>
          <p><a href="/page/cgv">CGV</a></p>
          <p><a href="/page/mentions-legales">Mentions légales</a></p>
          <p><a href="/page/politique-de-confidentialite-3">Politique de confidentialité</a></p>
        </div>
      </div>
      <hr />
      <div class="row socials-wrapper">
        <div class="col-12">
          <div class="socials">
            <p>RETROUVEZ-NOUS SUR LES <span class="hightlight">Réseaux&nbsp;sociaux</span> ! </p>
            <div class="links">
              <a href="https://twitter.com/demarrezve"><img src="/images/ic_share_twitter.svg" alt="twitter" width="26" height="21" /></a>
              <a href="#"><img src="/images/ic_share_facebook.svg" alt="facebook" width="11" height="22" /></a>
              <a href="#"><img src="/images/ic_share_pinterest.svg" alt="pinterest" width="22" height="22" /></a>
              <a href="https://www.instagram.com/demarrezvotreentreprise/"><img src="/images/ic_share_instagram.svg" alt="instagram" width="22" height="22" /></a>
              <a href="https://www.linkedin.com/company/90610650/admin/"><img src="/images/ic_share_linkedin.svg" alt="instagram" width="22" height="22" /></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="copyright">© Copyright 2023 - Démarrez Votre Entreprise </p>
        </div>
      </div>
    </div>
  </div>
</template> 

<script>
export default {
  components: {},
  data() {
    return {
      keyword: "",
      categories: [
        {
          id: 10,
          name: 'Démarches Administratives'
        },
        {
          id: 4,
          name: 'Fiscalité'
        },
        {
          id: 9,
          name: 'Conseils Entrepreneurs'
        },
        {
          id: 5,
          name: 'Formation'
        },
        // {
        //   id: 6,
        //   name: 'Emploi'
        // },
      ],
    };
  },
  created() {
  },
  methods: {
  },
};

</script>