<template>
  <div class="wrapper" >
    <HeaderComponent/>
    <nuxt />
    <FooterComponent />
  </div> 
</template>

<script>
import HeaderComponent from "../components/header/HeaderComponent.vue";
import storeService from "@/services/storeService";
import LazyHydrate from 'vue-lazy-hydration';
export default {
  components: {
    LazyHydrate,
    HeaderComponent,
    FooterComponent: () => import('@/components/footer/FooterComponent.vue'),
  },
  data() {
    return {
    };
  },
  computed: {
    isAMP() {
      return this.$route.path.indexOf("/amp/") !== -1;
    }
  },
  created() {
    storeService.loadLocalStoreToState();
  },
  methods: {
     
  },
};
</script>
