<template>
  <div>
    <ArticlesComponent :data="post" :paging="paging" :currentPage="page" />
  </div>
</template>

<script>
import ArticlesComponent from "@/components/pages/home/ArticlesComponent.vue";
import wordpressService from "@/services/wordpressService";

export default {
  components: {
    ArticlesComponent,
  },
  async asyncData({ query }) {
    const page = query.page || 1
    const { post, paging } = await wordpressService.getArticles(page, 10, query.category, query.search);    
    return {
      post, 
      page,
      paging: parseInt(paging),
    };
  },
  data() {
    return {
    };
  },
};
</script>
