<template>
  <div class="wrapper-comment">
    <div class="box-comment">
      <div class="box-title container-fluid container-max">
        <h4 class="title">Commentaires</h4>
      </div>

      <div class="container-fluid container-max">
        <textarea
          class="inputComment"
          name=""
          id=""
          cols="30"
          rows="6"
          placeholder="Écrire un commentaire ou poser une question"
          v-model="inputComment.comment"
        ></textarea>
        <button
          class="btn submit"
          @click="onNext()"
          v-if="inputComment.comment.length > 0"
        >
          Soumettre
        </button>
      </div>
      <div class="container-fluid container-max">
        <div class="box-comment-list">
          <ul class="questions">
            <li v-for="(item, index) in listComments" :key="index">
              <div class="question">
                <div class="top">
                  <div class="fullname">{{ item.fullname }}</div>
                </div>
                <div class="description">
                  <p>
                    {{ item.comment }}
                  </p>
                </div>
              </div>
              <ul
                class="answers"
                v-if="item.replyComments && item.replyComments.items"
              >
                <li
                  v-for="(itemChild, indexChild) in item.replyComments.items"
                  :key="indexChild"
                >
                  <div class="answer">
                    <div class="top">
                      <div class="fullname">Les Frenchies</div>
                    </div>
                    <div class="description">
                      <p>
                        {{ itemChild.comment }}
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="wrapper-popup-comment">
      <transition name="fade">
        <div v-if="isPopup">
          <div class="overlay-popup" @click="onCancel()"></div>
          <div class="popup-profile-user">
            <div class="box-profile-user">
              <p class="title-popup">Donnez-nous plus d'informations</p>
              <div class="control fullname">
                <span class="icon user"></span>
                <div class="box-input">
                  <input
                    v-model="inputComment.fullname"
                    type="text"
                    value=""
                    placeholder="Votre nom"
                  />
                  <span v-if="!inputComment.fullname" class="__invalid-label"
                    >Ce champ est obligatoire
                  </span>
                </div>
              </div>
              <div class="control email">
                <span class="icon email"></span>
                <div class="box-input">
                  <input
                    v-model="inputComment.email"
                    type="text"
                    value=""
                    placeholder="Quelle est votre adresse e-mail ?"
                    :class="{ '--invalid': !validEmail }"
                    @blur="validateEmail"
                  />
                  <span
                    v-if="!validEmail && inputComment.email"
                    class="__invalid-label"
                    >Le courriel est invalide</span
                  >
                </div>
              </div>
              <div class="footer-popup">
                <button class="btn btn-normal radius-10" @click="onCancel()">
                  Annuler
                </button>
                <button class="btn btn-secondary radius-10" @click="onSubmit()">
                  Envoyer
                </button>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>
<script>
//import commentServices from "@/services/commentServices";
import loadingService from "@/services/loadingService";
import _ from "lodash";
export default {
  props: {
    data: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      isPopup: false,
      listComments: [],
      validEmail: false,
      inputComment: {
        comment: "",
        fullname: "",
        email: "",
        articleID: this.data.id,
        isPublic: false,
        statusCode: "ACTIVE",
      },
    };
  },
  async fetch() {
    if(this.$isAMP){
      // let result = await commentServices.listComments(this.data.id);
      // this.listComments = result ? result.item : [];
      // if (this.listComments && this.listComments.length > 0) {
      //   this.listComments.forEach((element) => {
      //     if (element.replyComments && element.replyComments.items) {
      //       const childs = _.orderBy(
      //         element.replyComments.items,
      //         "createdAt",
      //         "asc"
      //       );
      //       element.replyComments.items = childs;
      //     }
      //   });
      // }
      // if (this.inputComment.email) this.validateEmail();
    }else{
      this.onLoadComment();
      if (this.inputComment.email) this.validateEmail();
    }
  },
  methods: {
    onNext() {
      this.isPopup = true;
    },
    onCancel() {
      this.isPopup = false;
    },
    onLoadComment() {
      // commentServices
      //   .listComments(this.data.id)
      //   .then((result) => {
      //     this.listComments = result.items;
      //     if (this.listComments.length > 0) {
      //       this.listComments.forEach((element) => {
      //         if (element.replyComments && element.replyComments.items) {
      //           const childs = _.orderBy(
      //             element.replyComments.items,
      //             "createdAt",
      //             "asc"
      //           );
      //           element.replyComments.items = childs;
      //         }
      //       });
      //     }
      //   })
      //   .catch((erro) => {
      //   })
      //   .finally(() => {});
    },
    validateForm() {
      this.validateEmail();
    },
    validateEmail() {
      let check = false;
      const reg =
        /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/;
      if (!this.inputComment.email) check = false;
      else if (!reg.test(this.inputComment.email)) check = false;
      else check = true;
      this.validEmail = check;
      return check;
    },
    onSubmit() {
      if (!this.validEmail) {
        this.validateForm();
        return;
      }
      this.isPopup = false;
      loadingService.showLoading();
      // commentServices
      //   .create(this.inputComment)
      //   .then((result) => {
      //     if (result) {
      //       this.onLoadComment();
      //     }
      //   })
      //   .catch(() => {
      //     // commonServices.showError(this, "msg.error.error");
      //   })
      //   .finally(() => {
      //     loadingService.hideLoading();
      //   });
    },
  },
};
</script>
