<template>
  <div class="related">
    
  </div>
</template>
<script>
import RelatedArticleCard from "./RelatedArticleCard.vue";

export default {
  props: {
    data: {
      type: Array,
      default: () => [],
    },
  },
  components: {
    RelatedArticleCard
  },
  data() {
    return {
    };
  },
  methods: {
  },
};
</script>

<style scoped lang="scss">

.related {
  max-width: 1170px;
  margin: 0 auto;
}

h3 {
  font-weight: 600;
  margin-bottom: 2rem;
}
</style>
