<template>
    <div class="article" v-if="data">
        <nuxt-link :to="`/${data.slug}`">
            <div class="box-image">
                <img :src="commonServices.getAvatarUrl(data.image, 300, 150)" :alt="data.title" width="300" height="150" />
            </div>
            <div class="box-content">
                <p class="title" v-if="data.title" v-html="data.title"></p>
            </div>
        </nuxt-link>
    </div>
</template>

<script>
import commonServices from "@/services/commonServices";
export default {
    props: ["data"],
    data() {
        return {
            commonServices
        };
    },
};
</script>

<style lang="scss" scoped>
</style>