@import "node_modules/swiper/swiper";
.swiper-slide .box-feedback {
    max-width: 100%; 
    transform: scale(0.85);
    transition: all .25s ease-out;
    transform-origin: center;
  }
  
  .swiper-slide-active .box-feedback {
    transform: scale(1);
  }